body {
    background-color: #008F91;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

h5 {
    margin-top: 3px !important;
    margin-bottom: 0px !important;
}

h3 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

a {
    margin-right: 5px;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 100%;
    margin-bottom: 15px;
}
.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container {
    height: 100% !important;
}

@media (min-width: 600px) {
    .video-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 599px) {
    .botao-avancar,.botao-voltar {
        margin: 20px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
}

.avaliation-container {
    height: 100%px;
}

.like-container {
    margin-bottom: 10px;
}

.botao-avancar {
    background-color: #99DFE0;
}

.botao-voltar {
    background-color: #99DFE0;
}

.mobile-buttons {
    display: flex;
    padding-left: 10px;
}

.share-container, .info-container{
    padding: 10px !important;
    padding-bottom: 5px !important;
}

.nav-bar{
    display: flex;
    background-color: #20007A;
    flex-wrap: wrap;
    padding: 3px;
    font-weight: bold;
    min-width: 350px;
}

.nav-bar a {
    text-decoration: none;
    text-transform: uppercase;
    color: #006061;
}

.nav-bar a:hover {
    background-color: #006061;
    transition: .5s ease;
    color: #3500C7;
}

.menu-geral{
    align-self: flex-start;
    padding: 3px;
}

.menu-geral a {
    padding: 3px;
    margin: 5px;
}

.menu-login{
    align-self: flex-end;
    position: absolute;
    right: 3%;    
    padding: 3px;
}

.menu-login a {
    padding: 3px;
    margin: 5px;
}

* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
}


.categories-container {
    padding-bottom: 15px;
    margin-bottom: 0px !important;
}

.video-content-row {
    margin-bottom: 5px !important;
}

.categories-list-row {
    margin: 0px !important;
}

.categories-list {
    text-align: justify;
    text-justify: inter-word;
    word-break: break-word;
}

.now-playing-container {
    display: flex !important;
    justify-content: center;
    margin-left: 10px !important;
}

.now-playing-container  > * {
    align-items: center !important;
    margin: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding:0px !important;
}


.now-playing-category-name {
    color: red;
    margin-right: 10px !important;
    margin-left: 5px !important;
}

.now-playing-category-videos-length {
    color: red;
    margin-left: 5px !important;
}